<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
        <%- include('../partials/header-footer-stylesheet.ejs')%>
            <link rel="stylesheet" href="/css/filtrado.css">
            <title>Filtrado</title>
</head>

<body>
    <%- include('../partials/header.ejs') %>
    <%- include('../partials/navbar.ejs') %>
    <main>
        <div class="filtro">
            <h2>Filtrado</h2>
            <div class="linea-filtro"></div>
            <form action="/products/filtro" method="GET">
                <div class="filtro-form">
                    <label for="marca">Marca:</label>
                    <select id="marca" name="marca">
                        <% for (let i=0; i< marca.length; i++) { %>
                            <option value=" <%=marca[i].idMarca %>"> <%=marca[i].nombreMarca%></option>
                        <% } %>
                    </select>
                    <label for="producto">Categoria:</label>
                    <select id="categoria" name="categoria">
                        <% for (let i=0; i< categoria.length; i++) { %>
                        <option value=" <%=categoria[i].idCategoria %>"> <%=categoria[i].categoria%></option>
                    <% } %>
                    </select>
                    <p class="p-precio">Precio:</p>
                    <div class="precio-contenedor">
                        <div class="minimo">
                            <input type="text" id="minimo" name="minimo" placeholder="Minimo">
                        </div>
                        <p class="separador"> - </p>
                        <div class="maximo">
                            <input type="text" id="maximo" name="maximo" placeholder="Maximo">
                        </div>
                    </div>
                </div>
                <button type="submit" class="boton">Filtrar</button>
            </form>
        </div>

        <div class="galeriaProductos">
            <% for (let i =0; i<producto.length; i++ ) { %>
                <article class="articulo">
                    <a href="/products/detail/<%= producto[i].idProducto %>" class="link-producto"></a>
                    <div class="contenedor-imagen">
                        <img class="imagen-producto" src="/img/paletas/<%= producto[i].image %>" alt="imagen-producto">
                    </div>
                    <div class="contenedor-mas">
                        <div class="descripcion-producto">
                            <p class="categoria"><%= producto[i].categoriaProductos.categoria %></p>
                            <p class="nombre_producto"><%= producto[i].nombreProducto %></p>
                        </div>
                        <p class="precio"><%= producto[i].precio %></p>     
                    </div>
                </article>
            <% } %>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>

</body>

</html>