<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
    <%- include('../partials/header-footer-stylesheet.ejs')%>
    <link rel="stylesheet" href="/css/filtrado.css">
    <title>Filtrado</title>
</head>

<body>
    <%- include('../partials/header.ejs') %>
    <%- include('../partials/navbar.ejs') %>
    <main>

        <div class="side">
            <h4>Filtrado <i class="fa-solid fa-filter"></i><i class="fa-solid fa-chevron-down"></i></h4>
            <div class="filtros">
                <p>Categoría <i class="fa-solid fa-chevron-down"></i></p>
                <p>Condición <i class="fa-solid fa-chevron-down"></i></p>
                <p>Marca <i class="fa-solid fa-chevron-down"></i></p>
                <p>Precio <i class="fa-solid fa-chevron-down"></i></p>
            </div>
        </div>
        <div class="galeriaProductos">
            <% for (let i=0; i<producto.length; i++){ %>
                <article>
                    <img src="/img/adidas-pala-padel-kaltom-ctrl-2.0.jpg" alt="Pala 1">
                    <div class="bloque-info">
                        <p class="precio"><%= producto[i].price %></p>
                        <p class="descripcion"><%= producto[i].name %></p>
                    </div>
                </article>
            <% } %>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>

</body>

</html>