<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
        <%- include('../partials/header-footer-stylesheet.ejs')%>
            <link rel="stylesheet" href="/css/filtrado.css">
            <title>Filtrado</title>
</head>

<body>
    <%- include('../partials/header.ejs') %>
        <%- include('../partials/navbar.ejs') %>
            <main>

                <div class="side">
                    <h4>Filtrado</h4>
                    <ul class="filtros">
                        <li><a href="#">Categoría</a></li>
                        <li><a href="#">Precio</a></li>
                        <li><a href="#">Marca</a></li>

                    </ul>
                </div>

                <div class="galeriaProductos">
                    <% for (let i=0; i<producto.length; i++){ %>

                        <article>
                            <form method="POST" action="#" class="form-edit">
                                <input type="submit" value="Editar">
                            </form>
                            <form method="POST" action="#" class="form-delete">
                                <input type="submit" value="Eliminar">
                            </form>
                            <a href="/products/detail?id=<%= producto[i].id %>" class="link-producto"> <img
                                    class="imagen-producto" src="img/raqueta-1.jpg" alt="imagen-producto"></a>
                            <div class="contenedor-imagen">

                            </div>
                            <div class="bloque-info">
                                <p class="precio">
                                    <%= producto[i].price %>
                                </p>
                                <p class="descripcion">
                                    <%= producto[i].name %>
                                </p>
                            </div>
                        </article>
                        <% } %>
                </div>
            </main>
            <%- include('../partials/footer.ejs') %>

</body>

</html>