<head>
    <%- include('../partials/head.ejs') %>
    <%- include('../partials/header-footer-stylesheet.ejs') %>
    
    <link rel="stylesheet" href="/css/agregado.css">
    <title>Pagina agregado de productos</title>
</head>
<body>
    <%- include('../partials/header')  %>
    <%- include('../partials/navbar.ejs') %>

     <h2>Crear producto</h2>
	<form id="form" action="/admin/add" method="POST" enctype="multipart/form-data">
		<label for="name">Producto:</label>
		<input type="text" id="name" name="name" required>
		
		<label for="price">Precio:</label>
		<input type="text" id="discount" name="price" placeholder="Ej: 60000">

		<label for="discount">Descuento:</label>
		<input type="text" id="discount" name="discount" placeholder="Ej: 20">

		
		<label for="category">Categoría:</label>
		<select id="category" name="category">
			<option value="value1">Valor 1</option>
			<option value="value2">Valor 2</option>
			<option value="value3">Valor 3</option>
		</select>
		
		<label for="description">Descripción:</label>
		<textarea id="description" name="description"></textarea>
		
		<label for="brand">Marca:</label>
		<input type="text" id="brand" name="brand">
		
		<label for="image">Imagen:</label>
		<input type="file" id="image" name="image">
		
		<button type="submit">Crear</button>
	</form>
	<%- include('../partials/footer')  %>
</body>
</html>

