<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <%- include('../partials/header-footer-stylesheet.ejs') %>
    <link rel="stylesheet" href="/css/styleHome.css">
    <title>Ganga Padel</title>
</head>

<body>
    <%- include('../partials/header.ejs') %>
    <%- include('../partials/navbar.ejs') %>
    <main>
        <div id="contenedor-slider">
            <div class="slider">
                <div class="slide active">
                    <img src="img/slider-1.jpg" alt="imagen-slider">
                </div>
                <div class="slide">
                    <img src="img/slider-2.jpg" alt="imagen-slider">
                </div>
                <div class="slide">
                    <img src="img/slider-3.jpg" alt="imagen-slider">
                </div>
            </div>
            <div id="dots">
                <i class="fa-solid fa-circle"></i>
                <i class="fa-solid fa-circle"></i>
                <i class="fa-solid fa-circle"></i>
            </div>
        </div>
        <script src="/js/carousel.js"></script>
        <div class="contenedor-h">
            <h3>TE RECOMENDAMOS</h3>
        </div>
        <section id="carousel1">
            <div class="contenedor-productos">
                <% for (let i =0; i<producto.length; i++ ) { %>
                    <article class="articulo">
                        <a href="/products/detail/<%= producto[i].idProducto %>" class="link-producto"></a>
                        <div class="contenedor-imagen">
                            <img class="imagen-producto" src="img/paletas/<%= producto[i].image %>" alt="imagen-producto">
                        </div>
                        <div class="descripcion-producto">
                            <p class="categoria"><%= producto[i].categoriaProductos.categoria %></p>
                            <p class="nombre_producto"><%= producto[i].nombreProducto %></p>
                        </div>
                        <p class="precio"><%= producto[i].precio %></p>
                    </article>
                <% } %>
                <i class="fa-solid fa-arrow-left arrow-left-article arrow-prev"></i>
                <i class="fa-solid fa-arrow-right arrow-right-article arrow-next"></i>
            </div>
        </section>
        <div id="contenedor-imagen-promocional">
            <img src="img/slider-2.jpg" alt="imagen-promocional">
        </div>
        <div class="contenedor-h">
            <h3>OFERTAS</h3>
        </div>
        <section id="carousel2">
            <div class="contenedor-productos">
                <% for (let i =0; i<producto.length; i++ ) { %>
                    <article class="articulo">
                        <a href="/products/detail/<%= producto[i].idProducto %>" class="link-producto"></a>
                        <div class="contenedor-imagen">
                            <img class="imagen-producto" src="img/paletas/<%= producto[i].image %>" alt="imagen-producto">
                        </div>
                        <div class="descripcion-producto">
                            <p class="categoria"><%= producto[i].categoriaProductos.categoria %></p>
                            <p class="nombre_producto"><%= producto[i].nombreProducto %></p>
                        </div>
                        <p class="precio"><%= producto[i].precio %></p>
                    </article>
                <% } %>
                <i class="fa-solid fa-arrow-left arrow-left-article arrow-prev"></i>
                <i class="fa-solid fa-arrow-right arrow-right-article arrow-next"></i>
            </div>
        </section>
        <script src="/js/carouselProductos.js"></script>
        <%- include('../partials/footer.ejs') %>
    </main>
</body>

</html>